In [1]:
%load_ext autoreload
%autoreload 2
from dataframe import *
import pandas as pd
import uproot

In [2]:
class Args:
    input_file = '/grid_mnt/vol_home/llr/cms/cuisset/hgcal/testbeam18/clue3d-dev/src/ClusteringAnalysis/CLUE_clusters_single.root'
    output_file = '/home/llr/cms/cuisset/hgcal/testbeam18/clue3d-dev/src/plots/cache/hists.pkl'
args = Args()

In [3]:
for array_i in uproot.iterate(args.input_file + ":clusters", step_size="100MB", library="ak"):
    array = array_i
    break

In [109]:
comp = DataframeComputations(array)

In [5]:
comp.beamEnergy
pd.set_option('display.min_rows', 20)
pd.set_option('display.max_rows', 500)

       beamEnergy
event
0            20.0
1            20.0
2            20.0
3            20.0
4            20.0
...           ...
11599        20.0
11600        20.0
11601        20.0
11602        20.0
11603        20.0

[11604 rows x 1 columns]

In [126]:
comp.clusters2D.droplevel(level="clus2D_id")

,beamEnergy,clus2D_x,clus2D_y,clus2D_z,clus2D_energy,clus2D_layer,clus2D_rho,clus2D_delta,clus2D_isSeed
event,,,,,,,,,
0,20.0,-0.974487,-0.562622,13.877500,0.030589,1,0.818923,0.000000e+00,0
0,20.0,-0.974487,0.562622,13.877500,0.044120,1,0.873589,0.000000e+00,0
0,20.0,-1.948975,1.125244,13.877500,0.076637,1,0.860543,0.000000e+00,0
0,20.0,-1.948975,-0.000009,13.877500,0.259756,1,1.094996,0.000000e+00,0
0,20.0,-2.923340,2.812988,13.877500,0.036976,1,0.059139,1.125075e+00,0
0,20.0,-0.974487,-0.562622,14.767500,0.094981,2,1.413594,0.000000e+00,0
0,20.0,-0.974487,0.562622,14.767500,0.054323,2,1.458031,0.000000e+00,0
0,20.0,-1.948975,2.250488,14.767500,0.008760,2,0.144541,1.125181e+00,0
0,20.0,-1.948975,-0.000009,14.767500,0.448284,2,1.786813,0.000000e+00,0
0,20.0,-2.923340,-2.812988,14.767500,0.020442,2,0.033639,1.125075e+00,0
...,...,...,...,...,...,...,...,...,...
11603,20.0,-2.923340,-0.562622,46.412498,0.027646,23,0.054487,1.125132e+00,0
11603,20.0,-0.974487,-0.562622,47.542500,0.011605,24,0.045686,1.125237e+00,0
11603,20.0,-1.948975,-1.125244,47.542500,0.012479,24,0.037019,1.125136e+00,0
11603,20.0,-1.948975,1.125244,49.681999,0.009399,25,0.043667,1.125136e+00,0
11603,20.0,-0.000009,1.125244,52.881500,0.111305,27,0.111305,3.402823e+38,1
11603,20.0,-0.974487,-3.937988,52.881500,0.060463,27,0.060463,3.402823e+38,1
11603,20.0,2.923340,-2.812988,52.881500,0.008682,27,0.008682,2.250150e+00,0
11603,20.0,-0.974487,-6.188477,52.881500,0.011615,27,0.011615,2.250489e+00,0
11603,20.0,5.846680,-2.250488,52.881500,0.014194,27,0.014194,3.402823e+38,0
11603,20.0,4.872070,-3.937988,52.881500,0.013601,27,0.013601,1.948722e+00,0

In [154]:
comp.get_clusters2D_perLayerInfo(True)#.reset_index(level="clus2D_layer")#["clus2D_layer"]

                    beamEnergy  clus2D_energy_sum  clus2D_count
event clus2D_layer
0     1                   20.0           0.448077             5
      2                   20.0           0.714540             8
      3                   20.0           0.929381            10
      4                   20.0           1.251170             9
      5                   20.0           1.698063            20
      6                   20.0           1.580733             9
      7                   20.0           2.455077            20
      8                   20.0           1.719362            15
      9                   20.0           1.741437            23
      10                  20.0           1.409587            17
...                        ...                ...           ...
11603 17                  20.0           0.468392            15
      18                  20.0           0.320474             6
      19                  20.0           0.195498             5
      20                  20.0           0.179206             5
      21                  20.0           0.018522             1
      22                  20.0           0.084947             2
      23                  20.0           0.237754             7
      24                  20.0           0.024085             2
      25                  20.0           0.009399             1
      27                  20.0           0.219860             6

[279866 rows x 3 columns]

In [141]:
comp.clusters2D[["beamEnergy", "clus2D_layer", "clus2D_energy"]].groupby(by=['event', 'clus2D_layer']).agg(
    beamEnergy=pd.NamedAgg(column="beamEnergy", aggfunc="first"),
    clus2D_energy_sum=pd.NamedAgg(column="clus2D_energy", aggfunc="sum")
)

                    beamEnergy  clus2D_energy_sum
event clus2D_layer
0     1                   20.0           0.448077
      2                   20.0           0.714540
      3                   20.0           0.929381
      4                   20.0           1.251170
      5                   20.0           1.698063
      6                   20.0           1.580733
      7                   20.0           2.455077
      8                   20.0           1.719362
      9                   20.0           1.741437
      10                  20.0           1.409587
...                        ...                ...
11603 17                  20.0           0.468392
      18                  20.0           0.320474
      19                  20.0           0.195498
      20                  20.0           0.179206
      21                  20.0           0.018522
      22                  20.0           0.084947
      23                  20.0           0.237754
      24                  20.0           0.024085
      25                  20.0           0.009399
      27                  20.0           0.219860

[279866 rows x 2 columns]