# Testing of hists/dataframe.py

In [2]:
%load_ext autoreload
%autoreload 2
from functools import partial
import pandas as pd
import numpy as np
import uproot
import awkward as ak
import awkward_pandas as akpd
import sys
sys.path.append("../..")
from hists.dataframe import *

In [3]:
#input_file = '/grid_mnt/vol_home/llr/cms/cuisset/hgcal/testbeam18/clue3d-dev/src/ClusteringAnalysis/CLUE_clusters_single.root'
input_file = '/data_cms_upgrade/cuisset/testbeam18/clue3d/v28/cmssw/data/CLUE_clusters.root'
#input_file = '/data_cms_upgrade/cuisset/testbeam18/clue3d/v20/cmssw/sim_proton_v7/CLUE_clusters.root'

In [4]:
for array_i in uproot.iterate(input_file + ":clusters", step_size="100MB", library="ak"):
    series = array_i
    break

In [5]:
comp = DataframeComputations(series)

In [6]:
pd.set_option('display.min_rows', 20)
pd.set_option('display.max_rows', 500)

In [7]:
comp.clusters3D_with_clus2D_id

                 beamEnergy  clus3D_energy  clus3D_size  clus2D_id
event clus3D_id
0     0               300.0     144.070526           33          0
      0               300.0     144.070526           33          2
      0               300.0     144.070526           33          4
      0               300.0     144.070526           33          6
      0               300.0     144.070526           33          9
      0               300.0     144.070526           33         11
      0               300.0     144.070526           33         12
      0               300.0     144.070526           33         14
      0               300.0     144.070526           33         15
      0               300.0     144.070526           33         18
...                     ...            ...          ...        ...
10893 0                20.0      19.002638           23         14
      0                20.0      19.002638           23         15
      0                20.0      19.002638           23         16
      0                20.0      19.002638           23         17
      0                20.0      19.002638           23         18
      0                20.0      19.002638           23         19
      0                20.0      19.002638           23         20
      0                20.0      19.002638           23         21
      0                20.0      19.002638           23         23
      0                20.0      19.002638           23         24

[342928 rows x 4 columns]

In [14]:
comp.clusters2D

                 beamEnergy  clus2D_x  clus2D_y   clus2D_z  clus2D_energy
event clus2D_id
0     0               300.0  2.471932 -1.914578  13.877500       3.747497  \
      1               300.0  0.703080  3.054918  13.877500       0.275047
      2               300.0  2.520951 -1.829756  14.767500       5.297332
      3               300.0  5.625668  0.263639  14.767500       0.163312
      4               300.0  2.364095 -1.885765  16.782499      10.562175
      5               300.0 -2.143890 -2.255828  16.782499       0.042815
      6               300.0  2.472410 -1.983294  17.672501      11.852355
      7               300.0  1.911503  3.046884  17.672501       0.047299
      8               300.0  8.553850 -1.671538  17.672501       0.075444
      9               300.0  2.613553 -1.800786  19.687500      16.081924
...                     ...       ...       ...        ...            ...
10893 16               20.0  2.676501 -0.268163  34.312500       0.214685
      17               20.0  3.930711  2.521225  35.202499       0.062004
      18               20.0  3.130750  0.386654  35.202499       0.102357
      19               20.0  3.611089 -2.533744  37.117500       0.151857
      20               20.0  4.424503  1.614449  38.007500       0.033334
      21               20.0  1.015840 -0.340221  38.007500       0.023366
      22               20.0  8.790071 -0.460448  39.922501       0.118299
      23               20.0  2.976338  3.000555  39.922501       0.028709
      24               20.0  6.384997 -2.848954  40.812500       0.044532
      25               20.0  4.638066 -0.432846  47.542500       0.046798

                 clus2D_layer  clus2D_size  clus2D_rho  clus2D_delta
event clus2D_id
0     0                     1           25    9.289869  6.871735e-02  \
      1                     1            3    0.284507  5.211976e+00
      2                     2           33   13.746122  9.702762e-02
      3                     2            2    0.163312  3.651669e+00
      4                     3           44   20.796078  1.457531e-01
      5                     3            2    0.042815  4.624337e+00
      6                     4           45   24.538139  2.307170e-01
      7                     4            2    0.102309  1.208450e+00
      8                     4            2    0.075444  3.509866e+00
      9                     5           60   29.648653  7.141134e-02
...                       ...          ...         ...           ...
10893 16                   15            7    0.673006  3.267381e-01
      17                   16            2    0.074412  2.766356e+00
      18                   16            4    0.398783  5.651432e-01
      19                   17            8    0.151857  2.450778e+00
      20                   18            2    0.066206  1.032508e+00
      21                   18            2    0.066303  1.662224e+00
      22                   19            2    0.118299  5.578567e+00
      23                   19            2    0.041110  1.067981e+00
      24                   20            2    0.044532  2.791760e+00
      25                   24            3    0.046798  3.402823e+38

                 clus2D_pointType
event clus2D_id
0     0                         0
      1                         2
      2                         0
      3                         2
      4                         0
      5                         2
      6                         0
      7                         0
      8                         0
      9                         0
...                           ...
10893 16                        0
      17                        0
      18                        0
      19                        0
      20                        0
      21                        0
      22                        2
      23                        0
      24                        0
      25                        2

[497888 rows x 10 columns]

In [8]:
fraction=0.9
from hists.dataframe_cython import computeShortestInterval
agg_lambda = lambda series : computeShortestInterval(series.to_numpy(), series.index.levels[2].to_numpy(), fraction)

In [9]:
comp.clusters3D_energyClusteredPerLayer.clus2D_energy_sum

event  clus3D_id  clus2D_layer
0      0          1                3.747497
                  2                5.297332
                  3               10.562175
                  4               11.852355
                  5               16.081924
                  6               14.190412
                  7               13.549571
                  8               12.381789
                  9               13.545071
                  10               9.576331
                                    ...
10893  0          11               0.933351
                  12               0.931767
                  13               0.905762
                  14               0.328353
                  15               0.214685
                  16               0.164361
                  17               0.151857
                  18               0.056700
                  19               0.028709
                  20               0.044532
Name: clus2D_energy_sum, Length: 253233, dtype: float32

In [10]:
group = comp.clusters3D_energyClusteredPerLayer.clus2D_energy_sum.groupby(["event", "clus3D_id"]).get_group((0, 0))

In [11]:
group.index.levels[2]

Index([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18,
       19, 20, 21, 22, 23, 24, 25, 26, 27, 28],
      dtype='int32', name='clus2D_layer')

In [12]:
(comp.clusters3D_energyClusteredPerLayer.clus2D_energy_sum
            .groupby(["event", "clus3D_id"])
            .agg(agg_lambda)
        )

event  clus3D_id
0      0            (1, 13)
       1             (1, 4)
       2             (1, 4)
       3             (1, 1)
       4             (1, 5)
       5             (1, 8)
1      0            (2, 17)
2      0            (4, 18)
3      0            (3, 19)
4      0            (3, 16)
                     ...
10885  0            (2, 13)
10886  0            (1, 12)
10887  0            (1, 16)
       1             (1, 1)
10888  0            (2, 15)
10889  0            (2, 12)
10890  0            (1, 12)
10891  0            (3, 14)
10892  0            (1, 11)
10893  0            (3, 13)
Name: clus2D_energy_sum, Length: 12925, dtype: object

In [13]:
np.float64_t

AttributeError: module 'numpy' has no attribute 'float64_t'